alabaster==0.7.12
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
debugpy==1.6.0
decorator==5.1.1
docutils==0.16
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
greenlet==1.1.2
idna==2.10
imagesize==1.2.0
importlib-metadata==4.11.3
ipykernel==6.13.0
ipython==8.3.0
jedi==0.18.1
Jinja2==2.11.3
jsonschema==4.4.0
jupyter-cache==0.5.0
jupyter-client==7.3.0
jupyter-core==4.10.0
markdown-it-py==2.1.0
MarkupSafe==1.1.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.0
mdurl==0.1.1
myst-nb==0.14.0
myst-parser==0.17.2
nbclient==0.5.13
nbformat==5.4.0
nest-asyncio==1.5.5
packaging==20.9
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.29
psutil==5.9.0
pure-eval==0.2.2
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.1
pywin32==304
PyYAML==6.0
pyzmq==22.3.0
recommonmark==0.7.1
requests==2.25.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.4.0
sphinx-copybutton==0.3.1
sphinx-rtd-theme==0.5.2
sphinx-togglebutton==0.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.36
stack-data==0.2.0
tabulate==0.8.9
tornado==6.1
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.4
wcwidth==0.2.5
zipp==3.8.0
